
metric_result/ccpm_movielens_metrics.pkl
metric_result/deepfm_movielens_metrics.pkl
metric_result/ipnn_movielens_metrics.pkl
metric_result/opnn_movielens_metrics.pkl
metric_result/pin_movielens_metrics.pkl
metric_result/wd_movielens_metrics.pkl
